# system files
*Thumbs.db
*DS_Store

# node and Sass folders
*node_modules
*sass-cache

# editor files
*.sublime-workspace
.buildpath
.project
.settings/

# Jekyll
_site

*.map

.sass-cache
.jekyll-metadata
public
src/assets/bundle.js
