// base typography

// (en) reset monospaced elements to font size 16px in all browsers
// (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel
// setzen
//
// @see: http://webkit.org/blog/67/strange-medium/

textarea, pre, code, kbd, samp, var, tt {
  font-family: $font-monospace;
}

// --- Headings | Überschriften ---------------------------------------------- /

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headline;
  font-weight: normal;
  margin: 0;
  color: $c-headings;
}


h1 {
  @include font-size($h1-font-size);
  margin-top: em($base-margin, $h1-font-size);
  @include line-height($h1-line-height, $h1-font-size);
  font-weight: 300;

  @if $use-font-smoothing-h1 == true {
    @include font-smoothing();
  }
}

h2 {
  @include font-size($h2-font-size);
  //margin-top: em($h2-line-height, $h2-font-size);
  margin-top: em($base-margin, $h2-font-size);
  @include line-height($h1-line-height, $h2-font-size);
  font-weight: 300;

  @if $use-font-smoothing-h2 == true {
    @include font-smoothing();
  }
}

h3 {
  @include font-size($h3-font-size);
  margin-top: em($base-margin, $h3-font-size);
  @include line-height($h3-line-height, $h3-font-size);

  @if $use-font-smoothing-h3 == true {
    @include font-smoothing();
  }
}

h4 {
  @include font-size($h4-font-size);
  margin-top: em($base-margin, $h4-font-size);
  //margin-bottom: em($base-margin / 2 * -1, $h4-font-size);
  @include line-height($h4-line-height, $h4-font-size);

  font-weight: 600;

  @if $use-font-smoothing-h4 == true {
    @include font-smoothing();
  }
}

h5 {
  @include font-size($h5-font-size);
  margin-top: em($base-margin, $h5-font-size);
  //margin-bottom: em($base-margin / 2 * -1, $h4-font-size);
  @include line-height($h5-line-height, $h5-font-size);

  font-weight: 400;
  text-transform: uppercase;

  @if $use-font-smoothing-h5 == true {
    @include font-smoothing();
  }
}

h6 {
  @include font-size($h6-font-size);
  margin-top: em($base-margin, $h6-font-size);
  //margin-bottom: em($base-margin / 2 * -1, $h4-font-size);
  @include line-height($h6-line-height, $h6-font-size);

  font-weight: 400;
  font-style: italic;

  @if $use-font-smoothing-h6 == true {
    @include font-smoothing();
  }
}

// --- Lists | Listen  ------------------------------------------------------- /

ul,
ol,
dl {
  font-size: 1em;
  line-height: $line-height;
  margin: $std-margin 0 0 0;
}

ul {
  list-style-type: none;
}

ol {
  // Initiate a counter
  counter-reset: li;
  // Remove default numbering
  list-style: none;
  // Keep using default numbering for IE6/7
  *list-style: decimal;
  padding: 0;
}

ul ul {
  list-style-type: none;
  margin-top: 0;
}

ol ol {
  list-style-type: none;
  margin-top: 0;
}

ol ul {
  list-style-type: none;
  margin-top: 0;
}

ul li,
ol li {
  margin: 0 0 0 em(28);
  padding: 0;
  font-size: 1em;
  line-height: $line-height;
}


ul li {
  &:before {
    //@include icon;
    //@include font-size(10);

    @include inline-block;
    @include font-size(14);

    margin-top: 2px;
    margin-left: em(-20, 14);
    margin-right: em(12, 14);

    //content: "\f0c8"; // $fa-var-square;
    //content: "\25A0"; // ■
    content: "\25CF"; // ●

    vertical-align: top;
    color: $c-primary;
  }

  ul li:before {
    //@include icon;
    //content: "\f111"; // $fa-var-circle;
    //content: "\25CF"; // ●
    content: "\25A0"; // ■
  }
}

ol li {
  margin: 0 0 0 em(36);

  &:before {
    @include inline-block();
    @include font-size(16);
    @include line-height($base-line-height, 16);

    margin-top: 0px;
    margin-left: em(-22, 14);
    margin-right: em(10, 14);

    content: counter(li) ". ";
    counter-increment: li;

    color: $c-primary;
    vertical-align: top;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin:0 0 $std-margin 0.8em;
}

// --- general text formatting | Allgemeine Textauszeichnung ----------------- /
p {
  font-size: 1em;
  line-height: $line-height;
  //margin: ($std-margin / 2) 0 0 0;
  margin: $std-margin 0 0 0;
}

h4 + p {
  margin-top:  $std-margin / 2;
}

blockquote, cite, q {
  //font-family: $font-serif;
  //font-style: italic;
  font-family: $font-sans;
  font-weight: 300;
}

blockquote {
  @include font-size($h2-font-size);
  position: relative;

  margin: em($base-margin, $h2-font-size) 0 0 em(40, $h2-font-size);
  color: $c-blockquote-text;
  background: $c-blockquote-bg;

  &:before {
    @include font-size(25, $h2-font-size);
    @include icon();

    position: absolute;
    margin-left: em(-35, 25);
    content: "\f10d"; // $fa-var-quote-left
    color: #eee;
  }

  &,
  p {
    @include line-height($h2-line-height, $h2-font-size);
  }

  p:first-child {
    margin-top: 0;
  }
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

big {
  @include font-size($text-big-font-size);
}

small {
  @include font-size($text-small-font-size);
}

pre {
  line-height: $line-height;
  margin: 0 0 1em 0;
  padding: ($std-gutter / 2);
}

pre,
code,
kbd,
tt,
samp,
var {
  font-size:100%;
}

pre {
  margin: $std-margin 0 0 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre,
code {
  color: $c-pre-text;
  background-color: $c-pre-bg;
}

kbd,
samp,
var,
tt {
  color: $c-kbd-text;
  background-color: $c-kbd-bg;
  font-weight: bold;
}

var, dfn {
  font-style: italic;
}

acronym, abbr {
  border-bottom: 1px #aaa dotted;
  font-variant: small-caps;
  letter-spacing: .07em;
  cursor: help;
}

sub,
sup {
  @include font-size(14);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

mark {
  color: $c-mark-text;
  background: $c-mark-bg;
}

hr {
  color: #fff;
  background: transparent;
  margin: 0;
  padding: $std-margin 0 0 0;
  border: 0;
  border-bottom: 1px $c-hr solid;
}

a {
  color: $c-link-text;
  background: $c-link-bg;
  text-decoration: underline;

  &:focus {
    text-decoration: underline;
    color: $c-link-focus-text;
    background: $c-link-focus-bg;
    outline: 0 none;
  }
  &:hover,
  &:active {
    color: $c-link-hover-text;
    background: $c-link-hover-bg;
    text-decoration: underline;
    outline: 0 none;
  }
}
