$c-white: #fff;
$c-black: #000;

$c-primary: #06c;
$c-secondary: #ebdea8;
$c-secondary-dark: #cfc499;
$c-secondary-darker: #aa9f74;
$c-secondary-lighter: #f4f1e8;

$c-text: $c-black;
$c-link-text: $c-primary;
$c-link-bg: transparent;
$c-link-focus-text: $c-secondary-darker;
$c-link-focus-bg: transparent;
$c-link-hover-text: $c-secondary-darker;
$c-link-hover-bg: transparent;

$c-blockquote-text: lighten($c-text, 5);
$c-blockquote-bg: transparent;
$c-pre-text: lighten($c-text, 2);
$c-pre-bg: lighten($c-text, 7);
$c-kbd-text: lighten($c-text, 2);
$c-kbd-bg: lighten($c-text, 7);
$c-mark-text: lighten($c-text, 2);
$c-mark-bg: lighten($c-text, 7);

$c-hr: $c-secondary;

$c-headings: $c-primary;

$c-nav-main-shadow: rgba($c-black, .3);
$c-inactive: #aaa;
