@font-face {
  font-family: emailcharter;
  src: url("/assets/fontello-533e09e6/font/emailcharter.eot?69289963");
  src: url("/assets/fontello-533e09e6/font/emailcharter.eot?69289963#iefix") format("embedded-opentype"), url("/assets/fontello-533e09e6/font/emailcharter.woff2?69289963") format("woff2"), url("/assets/fontello-533e09e6/font/emailcharter.woff?69289963") format("woff"), url("/assets/fontello-533e09e6/font/emailcharter.ttf?69289963") format("truetype"), url("/assets/fontello-533e09e6/font/emailcharter.svg?69289963#emailcharter") format("svg");
  font-weight: normal;
  font-style: normal; }
