/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  line-height: 1.25em;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 1.4375em;
  line-height: 1.73913em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.86957em 0; }

h2 {
  font-size: 1.4375em;
  line-height: 1.73913em;
  margin: 0.86957em 0; }

h3 {
  font-size: 1.1875em;
  line-height: 2.10526em;
  margin: 1.05263em 0; }

h4 {
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0; }

h5 {
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0; }

h6 {
  font-size: 0.875em;
  line-height: 1.42857em;
  margin: 1.42857em 0; }

/* Grouping content
       ========================================================================== */
/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
blockquote {
  margin: 1.25em 40px; }

dl,
ol,
ul {
  margin: 1.25em 0; }

/**
       * Turn off margins on nested lists.
       */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

ol,
ul {
  padding: 0 0 0 40px; }

/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1.25em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
p,
pre {
  margin: 1.25em 0; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.25em;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
  /*
         * 1. Set 1 unit of vertical rhythm on the top and bottom margin.
         * 2. Set consistent space for the list style image.
         */
  margin: 1.25em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
  /**
         * Turn off margins on nested lists.
         */ }
  menu menu,
  ol menu,
  ul menu {
    margin: 0; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@media all {
  html * {
    font-size: 100%; }
  html,
  body {
    height: 100%; }
  body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #000;
    vertical-align: baseline;
    text-size-adjust: 100%; } }

textarea,
pre,
code,
kbd,
samp,
var,
tt {
  font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  color: #06c; }

h1 {
  font-size: 143.75%;
  line-height: 1.30435;
  margin-top: 0.86957em;
  font-weight: 300; }

h2 {
  font-size: 143.75%;
  line-height: 1.30435;
  margin-top: 0.86957em;
  font-weight: 300; }

h3 {
  font-size: 118.75%;
  line-height: 1.05263;
  margin-top: 1.05263em; }

h4 {
  font-size: 100%;
  line-height: 1.25;
  margin-top: 1.25em;
  font-weight: 600; }

h5 {
  font-size: 100%;
  line-height: 1.25;
  margin-top: 1.25em;
  font-weight: 400;
  text-transform: uppercase; }

h6 {
  font-size: 87.5%;
  line-height: 1.42857;
  margin-top: 1.42857em;
  font-weight: 400;
  font-style: italic; }

ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.25;
  margin: 1.25em 0 0; }

ol {
  padding: 0; }

ul ul {
  list-style-type: none;
  margin-top: 0; }

ol ol {
  list-style-type: none;
  margin-top: 0; }

ol ul {
  list-style-type: none;
  margin-top: 0; }

ul li,
ol li {
  margin: 0 0 0 1.75em;
  padding: 0;
  font-size: 1em;
  line-height: 1.25; }

ol li {
  margin: 0 0 0 2.25em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 1.25em 0.8em; }

p {
  font-size: 1em;
  line-height: 1.25;
  margin: 1.25em 0 0; }

h4 + p {
  margin-top: 0.625em; }

blockquote,
cite,
q {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-style: italic; }

blockquote {
  position: relative;
  margin: 0.86957em 0 0 1.73913em;
  color: #0d0d0d;
  background: transparent; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote footer {
    font-style: normal;
    font-weight: 300; }

strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

big {
  font-size: 112.5%; }

small {
  font-size: 87.5%; }

pre,
code,
kbd,
tt,
samp,
var {
  font-size: 100%; }

pre {
  line-height: 1.25;
  margin: 1.25em 0 0;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre,
code {
  color: #050505;
  background-color: #121212; }

kbd,
samp,
var,
tt {
  color: #050505;
  background-color: #121212;
  font-weight: bold; }

var,
dfn {
  font-style: italic; }

acronym,
abbr {
  border-bottom: 1px #000 dotted;
  font-variant: small-caps;
  letter-spacing: .07em;
  cursor: help; }

sub,
sup {
  font-size: 87.5%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

mark {
  color: #050505;
  background: #121212; }

hr {
  color: #fff;
  background: transparent;
  margin: 0;
  padding: 1.25em 0 0;
  border: 0;
  border-bottom: 1px #ebdea8 solid; }

a {
  color: #06c;
  background: transparent;
  text-decoration: underline; }
  a:focus {
    text-decoration: underline;
    color: #aa9f74;
    background: transparent;
    outline: 0 none; }
  a:hover, a:active {
    color: #aa9f74;
    background: transparent;
    text-decoration: underline;
    outline: 0 none; }

@media screen, projection {
  body {
    margin: 0;
    padding: 0; }
  .page-wrapper {
    box-sizing: border-box;
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto; }
  .page {
    padding: 10px; }
  .site-header {
    padding-top: 10px; }
    .site-header .page {
      padding: 0; } }

@media only screen and (min-width: 37.5em) {
  .page {
    padding: 20px; }
  .site-header {
    padding-top: 20px; }
    .site-header .page {
      padding: 0; } }

@media screen, projection {
  .header-columns {
    display: flex;
    align-items: center; }
    .header-columns > * {
      width: 50%; }
  .site-title {
    font-size: 162.5%;
    line-height: 1.875;
    display: inline-block;
    margin-top: 0;
    color: #06c;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid transparent; }
  a.site-title:active, a.site-title:focus, a.site-title:hover {
    text-decoration: none;
    border-color: #aa9f74; }
  .info-copyright {
    padding: 10px;
    border: 1px solid #ebdea8;
    border-radius: 2px; }
    .info-copyright *:first-child {
      margin-top: 0; }
    .info-copyright p {
      font-size: 87.5%;
      line-height: 1.125;
      color: #aa9f74; } }

@media all {
  .text-align-left {
    text-align: left; }
  .text-align-right {
    text-align: right; }
  .text-align-center {
    text-align: center; }
  .text-align-justify {
    text-align: justify; } }

@media screen, projection {
  .email-rules {
    padding: 20px;
    margin: 1.25em -20px 0; }
  .email-rules-headline {
    font-size: 150%;
    line-height: 1.25;
    margin: 0; }
  .email-rules--original-style {
    background-color: #f4f1e8;
    border: 20px solid #cfc499;
    border-top-color: #ebdea8;
    border-bottom-color: #aa9f74;
    box-shadow: inset 0 0 0 5px #fff; }
    .email-rules--original-style .email-rules-headline {
      text-align: center; }
  .email-rules-list--original-style, .email-rules-list--modern-style {
    counter-reset: rules;
    list-style-type: none;
    overflow: visible;
    padding: 0; }
    .email-rules-list--original-style li, .email-rules-list--modern-style li {
      position: relative;
      margin: 0 0 1.25em; }
      .email-rules-list--original-style li:first-child, .email-rules-list--modern-style li:first-child {
        margin-top: 0; }
      .email-rules-list--original-style li::before, .email-rules-list--modern-style li::before {
        position: absolute;
        display: block;
        left: 2px;
        counter-increment: rules; }
      .email-rules-list--original-style li header, .email-rules-list--modern-style li header {
        display: inline-block; }
        .email-rules-list--original-style li header > *, .email-rules-list--modern-style li header > * {
          font-size: 112.5%;
          line-height: 1.11111;
          display: inline-block; }
      .email-rules-list--original-style li header + p, .email-rules-list--modern-style li header + p {
        margin-top: 0; }
  .email-rules-list--original-style li::before {
    font-size: 112.5%;
    line-height: 1.11111;
    top: 2px;
    border-radius: 50%;
    color: #06c;
    text-align: center;
    content: counter(rules) "."; }
  .email-rules-list--original-style li header {
    margin: 0 0 0.625em 30px;
    vertical-align: top; }
    .email-rules-list--original-style li header > * {
      margin-top: 0;
      vertical-align: middle; }
  .email-rules-list--modern-style li::before {
    font-size: 125%;
    line-height: 2;
    top: 0;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    color: #06c;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 0 1px #f4f1e8, 0 0 0 2px #aa9f74;
    content: counter(rules); }
  .email-rules-list--modern-style li header {
    height: 60px;
    line-height: 60px;
    margin-left: 60px;
    vertical-align: middle; } }

@media only screen and (min-width: 41.25em) {
  .email-rules-headline {
    font-size: 187.5%;
    line-height: 1.33333; }
  .email-rules-list--original-sorting {
    columns: 2;
    column-gap: 20px; }
  .email-rules-list--modern-sorting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch; }
    .email-rules-list--modern-sorting li {
      display: block;
      box-sizing: border-box;
      width: 50%;
      padding: 10px; }
      .email-rules-list--modern-sorting li:nth-child(2n+1) {
        padding-left: 0;
        margin-left: 0; }
      .email-rules-list--modern-sorting li:nth-child(2n) {
        padding-right: 0;
        margin-right: 0; }
        .email-rules-list--modern-sorting li:nth-child(2n)::before {
          left: 12px; } }

@media only screen and (min-width: 62.5em) {
  .email-rules-list--modern-sorting li {
    padding: 0 20px; }
    .email-rules-list--modern-sorting li:nth-child(2n+1) {
      padding-left: 0; }
    .email-rules-list--modern-sorting li:nth-child(2n) {
      padding-right: 0; }
      .email-rules-list--modern-sorting li:nth-child(2n)::before {
        left: 22px; }
  .email-rules-list--original-sorting {
    column-gap: 40px; } }

@media all {
  .thanks ul {
    columns: 2;
    column-gap: 20px;
    padding: 0;
    list-style-type: none; }
    .thanks ul li {
      margin: 0; } }

@media only screen and (min-width: 41.25em) {
  .thanks ul {
    columns: 4; } }

@media only screen and (min-width: 62.5em) {
  .thanks ul {
    column-gap: 40px; } }

@media screen, projection {
  .nav-wrapper {
    padding-top: 1.25em;
    overflow: hidden; }
  .nav-main {
    margin: 0;
    background-color: #06c; }
    .nav-main .page {
      padding: 0; }
  .nav-main-menu {
    *zoom: 1;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .nav-main-menu::before, .nav-main-menu::after {
      content: '';
      display: table; }
    .nav-main-menu::after {
      clear: both; }
  .nav-main-menu-item {
    float: left;
    margin: 0; }
    .nav-main-menu-item a {
      font-size: 125%;
      line-height: 2;
      display: block;
      padding: 0 20px;
      color: #fff;
      text-decoration: none;
      font-weight: 300; }
      .nav-main-menu-item a:focus, .nav-main-menu-item a:hover {
        text-decoration: underline; }
  .nav-main--layout-simple .nav-main-menu-item {
    border: 2px solid #06c;
    border-left: 0;
    border-right: 0; }
    .nav-main--layout-simple .nav-main-menu-item.active {
      border-bottom-color: #fff; }
      .nav-main--layout-simple .nav-main-menu-item.active a {
        color: #06c;
        background-color: #fff; }
  .nav-main--layout-advanced {
    margin-top: 12px; }
    .nav-main--layout-advanced .nav-main-menu-item a {
      margin: 0 -1px;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      border-bottom: 0; }
    .nav-main--layout-advanced .nav-main-menu-item.active {
      background-color: #fff; }
      .nav-main--layout-advanced .nav-main-menu-item.active a {
        margin-top: -12px;
        margin-bottom: -6px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #06c;
        border-color: #06c;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); } }

@media screen, projection {
  .manual {
    display: flex;
    counter-reset: rules;
    list-style-type: none; }
    .manual > * {
      width: 50%;
      margin: 0;
      padding: 0 20px; }
      .manual > *:nth-child(2n+1) {
        padding-left: 0; }
      .manual > *:nth-child(2n) {
        padding-right: 0; }
    .manual > li {
      position: relative; }
      .manual > li::before {
        font-size: 125%;
        line-height: 2;
        position: absolute;
        display: block;
        counter-increment: rules;
        content: counter(rules) ".";
        top: 0;
        left: 2px;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        border-radius: 50%;
        color: #06c;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 0 1px #f4f1e8, 0 0 0 2px #aa9f74; }
      .manual > li:nth-child(2n)::before {
        left: 20px; }
      .manual > li header:first-child {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        margin-left: 60px;
        vertical-align: middle; }
        .manual > li header:first-child > * {
          display: inline-block;
          margin: 0; }
  p {
    margin: 0.625em 0 0; }
    p:first-child {
      margin: 0; }
  blockquote {
    font-size: 87.5%;
    line-height: 1.42857;
    margin: 0.625em 0 0 1.25em;
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
    font-style: normal; } }

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'emailcharter';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-smoothing: antialiased; }

.icon-ok::before {
  content: '\E80A'; }

.icon-ok-circled::before {
  content: '\E80B'; }

.icon-ok-circled2::before {
  content: '\E80C'; }

.icon-cancel::before {
  content: '\E80E'; }

.icon-cancel-circled::before {
  content: '\E80F'; }

.icon-cancel-circled2::before {
  content: '\E810'; }

.icon-mail-alt::before {
  content: '\E81A'; }

.icon-mail::before {
  content: '\E81B'; }

.icon-twitter::before {
  content: '\E820'; }

.icon-twitter-squared::before {
  content: '\E821'; }

.icon-facebook-squared::before {
  content: '\E822'; }

.icon-facebook::before {
  content: '\E823'; }

.icon-gplus-squared::before {
  content: '\E824'; }

.icon-gplus::before {
  content: '\E825'; }

.icon-globe::before {
  content: '\E82D'; }

.icon-attention-circled::before {
  content: '\E831'; }

.icon-attention::before {
  content: '\E833'; }

.icon-info::before {
  content: '\E83E'; }

.icon-info-circled::before {
  content: '\E83F'; }

.icon-help-circled::before {
  content: '\E840'; }

.icon-help::before {
  content: '\E841'; }

.icon-github-circled::before {
  content: '\F09B'; }

.icon-github::before {
  content: '\F113'; }

.icon-attention-alt::before {
  content: '\F12A'; }

.icon-mail-squared::before {
  content: '\F199'; }

.icon-google::before {
  content: '\F1A0'; }

.icon-git-squared::before {
  content: '\F1D2'; }

.icon-git::before {
  content: '\F1D3'; }

.icon-paper-plane::before {
  content: '\F1D8'; }

.icon-paper-plane-empty::before {
  content: '\F1D9'; }

.icon-facebook-official::before {
  content: '\F230'; }

.icon-envelope-open::before {
  content: '\F2B6'; }

.icon-envelope-open-o::before {
  content: '\F2B7'; }

.icon-github-squared::before {
  content: '\F300'; }

@media screen, projection {
  .social-share {
    display: flex;
    margin-top: 0.625em;
    padding: 0;
    list-style-type: none; }
    .social-share > * {
      box-sizing: border-box;
      width: 40%;
      margin: 0;
      padding: 0 10px; }
      .social-share > *:first-child {
        padding-left: 0; }
      .social-share > *:last-child {
        width: 20%;
        padding-right: 0;
        text-align: right; }
        .social-share > *:last-child * {
          text-align: left; }
    .social-share .tooltip {
      font-size: 81.25%;
      line-height: 1.23077;
      display: none;
      position: absolute;
      width: 200px;
      top: -30px;
      right: 0;
      padding: 5px;
      color: #06c;
      background-color: #f4f1e8;
      border: 1px solid #aa9f74;
      border-radius: 3px; }
    .social-share .icon-info {
      position: relative; }
      .social-share .icon-info:focus .tooltip, .social-share .icon-info:hover .tooltip {
        display: block; }
    .social-share .social-share-button {
      font-size: 81.25%;
      line-height: 1.15385;
      position: relative;
      padding: 2px 5px 2px 40px;
      cursor: pointer;
      color: #06c;
      background-color: #f4f1e8;
      border: 1px solid #06c;
      border-radius: 3px;
      text-align: left; }
      .social-share .social-share-button::before {
        font-size: 200%;
        position: absolute;
        left: 4px;
        top: 4px;
        color: #aaa;
        margin: 0; } }
